@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F46443;

}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

h3 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

p {
  font-family: 'Open Sans', sans-serif;

}